*.wav
*.ckpt
*.mid
*.mp3
resources/plugins/TAL-NoiseMaker.vst
src/TAL-NoiseMaker.vst
*/.ipynb_checkpoints/*
*/.DS_Store
*/.gitignore
*/.gitattributes
*/.gitmodules
*/.git/*
*/.git
*/.gitmodules
*/.gitattributes
*/.gitignore
*/.DS_Store
*/.ipynb_checkpoints/*